<%-include("../partials/header")-%>
<style>
    /*
    body{
        background-color: rgba(0,44,102,0.95);
    }
    */
    .quote {
        text-align: center;
        font-size: 20px;
        /*color: rgba(255,221,0);*/
    }

    .Landing {
        margin: 16px auto;
        border: 1px solid white;
        background-color: white;
    }
    .primary{
        margin-left: 10px;
        max-width: 65%;
        float: left;
    }
    .secondary{
        margin-right: 10px;
        max-width: 25%;
        float: right;
    }
</style>

<div class="primary">
    <div class="quote">
        Race and racism is a reality that so many of us grow up learning to just deal with. But if we ever hope to move
        past it, it can’t just be on people of colour to deal with it.<b> It’s up to all of us – Black, white, everyone
            – no matter how well-meaning we think we might be, to do the honest, uncomfortable work of rooting it
            out.</b> It starts with self-examination and listening to those whose lives are different from our own. It
        ends with justice, compassion, and empathy that manifests in our lives and on our streets.
        <br>– Michelle Obama
    </div>
    <div class="Landing">
        <div class="Menu">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/" style="color: orangered;">Trending <i class="fa fa-fire"
                            aria-hidden="true" style="color: orangered;"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/latest">Latest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/uploadVideo">Upload</a>
                </li>
            </ul>
        </div>
        <div>
            <form action="/viewState" method="POST">
                <label>From State </label>
                <select name="State">
                    <option value="None" selected>Choose State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <button type="submit" class="btn btn-success btn-sm">Search!</button>
            </form>
            <hr>
        </div>
        <a href="/upload" class="btn-btn-primary"></a>
        <!--A For Loop will go here-->
        <h3>Showing trending videos from <%=State%></h3>
        <%Videos.forEach(function(video){%>
        <div class="card" style="padding-bottom: 20px; padding: 20px;">
            <video height="240" controls>
                <source src="/<%=video.VideoFilePath%>" type="video/mp4">
            </video>
            <div class="card-body">
                <h5 class="card-title"><%=video.VideoTitle%></h5>
                <h7><i class="fa fa-map-marker" aria-hidden="true"></i>
                    <%=video.VideoLocation%></h7>
                <p>From <%=video.author.Username%></p>
                <p class="card-text"><%=video.VideoDescription%></p>
                <p>
                    <span class="LikesQuantity"><%=video.LikedUsers.length%></span>
                    Likes
                </p>
                <%if(currentUser!==null){%>
                <%if(video.LikedUsers.some(user=>{return(user.Username===currentUser.Username)})){%>
                    <!--Show Unlike by default-->
                <form class="Unlike" action="/video/<%=video._id%>/unlike?_method=PUT" method="POST"
                    style="display: inline;">
                    <button class="btn btn-outline-warning btn-sm" id="UnlikeButton">Unlike</button>
                </form>
                <!--Hide This Like Button only Toggle-->
                <form class="Like" action="/video/<%=video._id%>/like?_method=PUT" method="POST"
                    style="display: none;">
                    <button class="btn btn-outline-success btn-sm" id="LikeButton">Like</button>
                </form>
                <%}else{%>
                    <!--Show Like Here-->
                <form class="Like" action="/video/<%=video._id%>/like?_method=PUT" method="POST"
                    style="display: inline;">
                    <button class="btn btn-outline-success btn-sm" id="LikeButton">Like</button>
                </form>
                <!--Hide Unlike Here only Toggle-->
                <form class="Unlike" action="/video/<%=video._id%>/unlike?_method=PUT" method="POST"
                    style="display: none;">
                    <button class="btn btn-outline-warning btn-sm" id="UnlikeButton">Unlike</button>
                </form>
                <%}%>
                    <%}else{%>
                <form action="/video/<%=video._id%>/like?_method=PUT" method="POST" style="display: inline;">
                    <button class="btn btn-outline-success btn-sm" id="LikeButton">Like</button>
                </form>
                <%}%>

                <%if(currentUser!==null){%>
                <%if(currentUser.Username===video.author.Username){%>
                <form action="/video/<%=video._id%>?_method=DELETE" method="POST" style="display: inline;">
                    <button class="btn btn-danger btn-sm">Delete</b>
                </form>
                <%}else{%>
                <form action="/report/<%=video._id%>" method="POST" style="display: inline;">
                    <button class="btn btn-outline-danger btn-sm">Report</b>
                </form>
                <%}%>
                    <%}else{%>
                <form action="/report/<%=video._id%>" method="POST" style="display: inline;">
                    <button class="btn btn-outline-danger btn-sm">Report</b>
                </form>
                <%}%>
                
                </div>
              </div>
        <%});%>
            </div>
        </div>
        <div class="secondary">
            <h1>Ads will Go here</h1>
            <p>
                Although we try our best but still we are not able to meet the cost to keep this website running. These ads provide us with a means to keep this website online and support this great movemnet to raise voice against racism, oppresion and discrimination. Please consider supporting this website to make it ad free by buying a sbcription or making a one time donation in our support page. All the additional revenue generated after meeting the running cost will be donated to #blacklives matter charities
            </p>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!--Submit A form using AJAX-->
        <script>
            $(".Like").submit((event) => {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: event.currentTarget.action,
                    success: function (data) {
                        event.target.parentNode.querySelector(".LikesQuantity").innerHTML=parseInt(event.target.parentNode.querySelector(".LikesQuantity").innerHTML) + 1;
                        event.currentTarget.style.display="none";
                        event.target.parentNode.querySelector(".Unlike").style.display="inline";
                    }
                });
            });
                $(".Unlike").submit((event) => {
                    event.preventDefault();
                    $.ajax({
                    type: "POST",
                    url: event.currentTarget.action,
                    success: function (data) {
                        event.target.parentNode.querySelector(".LikesQuantity").innerHTML=parseInt(event.target.parentNode.querySelector(".LikesQuantity").innerHTML) - 1;
                        event.target.parentNode.querySelector(".Like").style.display="inline";
                        event.currentTarget.style.display="none";
                    }
                });
                });
        </script>
        </body>

        </html>